.theme-light {
  --editor-color: #24292f;
  --editor-background-color: #fff;
}

.theme-dark {
  --editor-color: #adbac7;
  --editor-background-color: #222324;
}

.workspace-split.mod-root .view-content {
  background-color: var(--editor-background-color);
}

body.plugin-cm-show-whitespace .markdown-source-view .cm-whitespace::before,
body.plugin-cm-show-whitespace .markdown-source-view .cm-tab::before,
body.plugin-cm-show-whitespace .markdown-source-view .CodeMirror-code > div > pre > span > :last-child:after,
body.plugin-cm-show-whitespace .markdown-source-view .CodeMirror-line > span > :last-child::after,
body.plugin-cm-show-whitespace .markdown-source-view [class*=cm-trailing-space] + [class*=cm-trailing-space]:last-child::after {
  color: var(--editor-background-color);
  text-decoration: none;
  opacity: 1;
}

.cm-s-obsidian,
.markdown-source-view .CodeMirror .CodeMirror-line,
.markdown-source-view .CodeMirror .CodeMirror-line-like {
  font-family: 'Input Sans Narrow';
  color: var(--editor-color);
}

.cm-s-obsidian * {
  font-family: inherit !important;
  color: inherit !important;
}

.markdown-source-view .CodeMirror .HyperMD-table-2,
.markdown-source-view .CodeMirror .HyperMD-table-2 * {
  font-family: 'Input Mono Narrow' !important;
}

.markdown-source-view .CodeMirror .HyperMD-codeblock,
.cm-s-obsidian .hmd-fold-html-stub,
.cm-s-obsidian .hmd-fold-code-stub,
.cm-s-obsidian.CodeMirror .HyperMD-hover > .HyperMD-hover-content code,
.cm-s-obsidian .cm-formatting-hashtag,
.cm-s-obsidian .cm-inline-code,
.cm-s-obsidian .HyperMD-codeblock,
.cm-s-obsidian .HyperMD-hr,
.cm-s-obsidian .cm-hmd-frontmatter,
.cm-s-obsidian .cm-hmd-orgmode-markup,
.cm-s-obsidian .cm-formatting-code,
.cm-s-obsidian .cm-math,
.cm-s-obsidian span.hmd-fold-math-placeholder,
.cm-s-obsidian .CodeMirror-linewidget kbd,
.cm-s-obsidian .hmd-fold-html kbd {
  font-family: 'Input Mono Narrow' !important;
}

.cm-formatting-code-block {
  opacity: 0.5;
}

/*.markdown-source-view.mod-cm6 .cm-scroller,
.cm-s-obsidian {
  font-size: var(--editor-font-size);
  font-weight: var(--editor-font-weight);
  line-height: var(--editor-line-height);
  font-feature-settings: var(--editor-font-features);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/

.cm-formatting-header {
  opacity: 0.32;
  font-family: 'Input Mono Compressed' !important;
  font-style: italic;
}

.cm-header-1 {
  font-size: 1.5em;
}
.cm-header-2 {
  font-size: 1.37em;
}
.cm-header-3 {
  font-size: 1.25em;
}
.cm-header-4 {
  font-size: 1.12em;
}
.cm-header-5,
.cm-header-6 {
  font-size: 1em;
}

.cm-s-obsidian .HyperMD-header.HyperMD-header-1 {
  padding-top: 0.25em;
  padding-bottom: 0;
}

.theme-light {
  --cursor-color: #696a6c;
}

.theme-dark {
  --cursor-color: #909192;
}

.markdown-source-view .CodeMirror-cursor,
.markdown-source-view .cm-s-obsidian .cm-cursor {
  /*border: 0;*/
  border: 1px solid var(--cursor-color) !important;
}

/*
.markdown-source-view .CodeMirror-cursor::after,
.markdown-source-view .cm-s-obsidian .cm-cursor::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1px;
  height: 1.4em;
  background: var(--cursor-color);
}
*/

.cm-formatting-list {
  font-family: 'Input Mono Compressed' !important;
  opacity: 0.6;
  margin-left: -0.2%;
}

.cm-formatting-list.cm-formatting-list-ul {
  font-weight: 500;
}

.cm-s-obsidian span.obsidian-search-match-highlight {
  color: black;
  background-color: #ffe792;
  border-radius: 3px;
}


.theme-light .cm-s-obsidian span.cm-keyword,
.theme-light .cm-s-obsidian span.cm-math.cm-tag {
  color: #cf222e !important;
}
.theme-light .cm-s-obsidian span.cm-atom {
  color: #0550ae !important;
}
.theme-light .cm-s-obsidian span.cm-number {
  color: #0550ae !important;
}
.theme-light .cm-s-obsidian span.cm-variable {
  color: #953800 !important;
}
.theme-light .cm-s-obsidian span.cm-variable-2 {
  color: #953800 !important;
}
.theme-light .cm-s-obsidian span.cm-variable-3 {
  color: #953800 !important;
}
.theme-light .cm-s-obsidian span.cm-comment,
.theme-light .cm-s-obsidian span.cm-inline-code,
.theme-light .cm-s-obsidian span.cm-formatting-math-begin,
.theme-light .cm-s-obsidian span.cm-formatting-math-end {
  color: #24292f !important;
}
.theme-light .cm-s-obsidian span.cm-string,
.theme-light .cm-s-obsidian span.cm-url,
.theme-light .cm-s-obsidian span.cm-hmd-internal-link,
.theme-light .cm-s-obsidian span.cm-footref,
.theme-light .cm-s-obsidian span.cm-hmd-footnote {
  color: #0a3069 !important;
}
.theme-light .cm-s-obsidian span.cm-error {
  border-bottom: 1px dotted #cf222e !important;
}





.theme-dark .cm-s-obsidian span.cm-keyword,
.theme-dark .cm-s-obsidian span.cm-math.cm-tag {
  color: #f47067 !important;
}
.theme-dark .cm-s-obsidian span.cm-atom {
  color: #6cb6ff !important;
}
.theme-dark .cm-s-obsidian span.cm-number {
  color: #6cb6ff !important;
}
.theme-dark .cm-s-obsidian span.cm-def {
}
.theme-dark .cm-s-obsidian span.cm-variable {
  color: #f69d50 !important;
}
.theme-dark .cm-s-obsidian span.cm-variable-2 {
  color: #f69d50 !important;
}
.theme-dark .cm-s-obsidian span.cm-variable-3 {
  color: #f69d50 !important;
}
.theme-dark .cm-s-obsidian span.cm-comment,
.theme-dark .cm-s-obsidian span.cm-inline-code,
.theme-dark .cm-s-obsidian span.cm-formatting-math-begin,
.theme-dark .cm-s-obsidian span.cm-formatting-math-end {
  color: #768390 !important;
}
.theme-dark .cm-s-obsidian span.cm-string,
.theme-dark .cm-s-obsidian span.cm-url,
.theme-dark .cm-s-obsidian span.cm-hmd-internal-link,
.theme-dark .cm-s-obsidian span.cm-footref,
.theme-dark .cm-s-obsidian span.cm-hmd-footnote {
  color: #96d0ff !important;
}
.theme-dark .cm-s-obsidian span.cm-error {
  border-bottom: 1px dotted #f47067 !important;
}

.cm-s-obsidian span.cm-formatting-math-begin,
.cm-s-obsidian span.cm-formatting-math-end {
  opacity: 0.72;
}

.cm-s-obsidian span.cm-formatting-strong,
.cm-s-obsidian span.cm-formatting-em,
.cm-s-obsidian span.cm-formatting-strikethrough,
.cm-s-obsidian span.cm-formatting-highlight {
  font-family: 'Input Sans Compressed' !important;
  opacity: 0.5;
}

.cm-s-obsidian .HyperMD-table-row {
  opacity: 0.9;
}

.cm-s-obsidian span.cm-hmd-table-sep {
  opacity: 0.5;
}

.cm-s-obsidian span.cm-formatting-link,
.cm-s-obsidian span.cm-formatting-image {
  opacity: 0.5;
}

.cm-s-obsidian span.cm-hmd-toc {
  font-size: 5em;
  font-weight: 100;
  opacity: 0.5;
}


.theme-dark {
  --editor-selection-background: hsl(212, 15%, 28%);
}

.theme-light {
  --editor-selection-background: #b4d9fd;
}

.markdown-source-view .CodeMirror-selected {
  background: var(--editor-selection-background);
}
