.markdown-preview-view {
  padding: 0 30px;
}

.markdown-preview-view .frontmatter-container {
  margin-top: 24px;
}

.theme-light .markdown-preview-view {
  color: #333433;
}

.theme-dark .markdown-preview-view {
  background-color: #24282e;
  color: #adbac7;
}

.theme-dark {
  --color-border-muted: #373e47;
  --color-fg-muted: #768390
}

.theme-light {
  --color-border-muted: hsla(210, 18%, 87%, 1);
  --color-fg-muted: #57606a;
}

.markdown-preview-view h1 {
  padding-bottom: .3em;
  font-size: 2em;
  border-bottom: 1px solid var(--color-border-muted);
}

.markdown-preview-view h2 {
  padding-bottom: .3em;
  font-size: 1.5em;
  border-bottom: 1px solid var(--color-border-muted);
}

.markdown-preview-view h3 {
  font-size: 1.25em;
}

.markdown-preview-view h4 {
  font-size: 1em;
}

.markdown-preview-view h5 {
  font-size: 0.875em;
}

.markdown-preview-view h6 {
  font-size: 0.85em;
  color: var(--color-fg-muted);
}

.markdown-preview-view h1,
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.theme-light .markdown-preview-view a:not(.tag) {
  color: #0969da;
}

.theme-dark .markdown-preview-view a:not(.tag) {
  color: #539bf5;
}

.markdown-preview-view .external-link {
  background-size: 12px;
}

.markdown-preview-view .heading-collapse-indicator svg {
  margin-bottom: 3px;
}

.markdown-preview-view li + li {
  margin-top: .25em;
}

.markdown-preview-view ul,
.markdown-preview-view ol {
    padding-left: 2em;
}

.markdown-preview-view ul ul,
.markdown-preview-view ol ul {
  list-style-type: circle;
}

.markdown-preview-view pre {
  white-space: pre;
  overflow-y: auto;
}

.markdown-preview-view li > .math-inline:first-child {
  vertical-align: top;
}

.theme-light .markdown-preview-view *:not(pre) > code:not(.is-loaded) {
  color: var(--text-normal);
  background-color: rgba(175, 184, 193, 0.2);
}

.theme-dark .markdown-preview-view *:not(pre) > code:not(.is-loaded) {
  color: #adbac7;
  background-color: #636e7b66;
}

.theme-light .markdown-preview-view pre > code {
  color: #24292f;
  background-color: transparent;
}

.theme-dark .markdown-preview-view pre > code {
  color: #adbac7;
  background-color: transparent;
}

.theme-light :not(pre) > code[class*="language-"],
.theme-light pre[class*="language-"],
.theme-light pre {
  background-color: #f6f8fa;
}

.theme-dark :not(pre) > code[class*="language-"],
.theme-dark pre[class*="language-"],
.theme-dark pre {
  background-color: #2d333b;
}

.markdown-preview-view th {
  font-weight: 600;
}

.markdown-preview-view th,
.markdown-preview-view td {
  padding: 6px 12px;
}

.theme-light .markdown-preview-view th,
.theme-light .markdown-preview-view td {
  border: 1px solid #d0d7de;
}

.theme-dark .markdown-preview-view th,
.theme-dark .markdown-preview-view td {
  border: 1px solid #444c56;
}


.markdown-preview-view .math-block > *,
.markdown-preview-view .mermaid {
  overflow-y: auto;
}





.markdown-preview-view div[data-tag-name="pre"] {
  margin-bottom: 16px;
}


.theme-light .markdown-preview-view code[class*="language-"],
.theme-light .markdown-preview-view pre {
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  color: #24292f;
  line-height: 1.2;
}

.theme-light .markdown-preview-view .token.comment,
.theme-light .markdown-preview-view .token.prolog,
.theme-light .markdown-preview-view .token.doctype,
.theme-light .markdown-preview-view .token.cdata {
  color: #6e7781;
}
.theme-light .markdown-preview-view .token.punctuation {
  color: #24292f;
}
.theme-light .markdown-preview-view .token.namespace {
  opacity: 0.7;
}
.theme-light .markdown-preview-view .token.property,
.theme-light .markdown-preview-view .token.property-access,
.theme-light .markdown-preview-view .token.tag,
.theme-light .markdown-preview-view .token.constant,
.theme-light .markdown-preview-view .token.symbol,
.theme-light .markdown-preview-view .token.deleted {
  color: #0550ae;
}
.theme-light .markdown-preview-view .token.boolean,
.theme-light .markdown-preview-view .token.number {
  color: #0550ae;
}
.theme-light .markdown-preview-view .token.selector,
.theme-light .markdown-preview-view .token.attr-name,
.theme-light .markdown-preview-view .token.string,
.theme-light .markdown-preview-view .token.char,
.theme-light .markdown-preview-view .token.builtin,
.theme-light .markdown-preview-view .token.inserted {
  color: #0a3069;
}
.theme-light .markdown-preview-view .token.operator,
.theme-light .markdown-preview-view .token.entity,
.theme-light .markdown-preview-view .token.url,
.theme-light .markdown-preview-view .language-css .token.string,
.theme-light .markdown-preview-view .style .token.string,
.theme-light .markdown-preview-view .token.variable {
  color: #0550ae;
}
.theme-light .markdown-preview-view .token.atrule,
.theme-light .markdown-preview-view .token.attr-value,
.theme-light .markdown-preview-view .token.function,
.theme-light .markdown-preview-view .token.class-name {
  color: #8250df;
}
.theme-light .markdown-preview-view .token.keyword {
  color: #cf222e;
}
.theme-light .markdown-preview-view .token.regex,
.theme-light .markdown-preview-view .token.important {
  color: #0a3069;
}


.theme-dark .markdown-preview-view code[class*="language-"],
.theme-dark .markdown-preview-view pre {
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  color: #adbac7;
  line-height: 1.2;
}

.theme-dark .markdown-preview-view .token.comment,
.theme-dark .markdown-preview-view .token.prolog,
.theme-dark .markdown-preview-view .token.doctype,
.theme-dark .markdown-preview-view .token.cdata {
  color: #768390;
}
.theme-dark .markdown-preview-view .token.punctuation {
  color: #adbac7;
}
.theme-dark .markdown-preview-view .token.namespace {
  opacity: 0.7;
}
.theme-dark .markdown-preview-view .token.property,
.theme-dark .markdown-preview-view .token.property-access,
.theme-dark .markdown-preview-view .token.tag,
.theme-dark .markdown-preview-view .token.constant,
.theme-dark .markdown-preview-view .token.symbol,
.theme-dark .markdown-preview-view .token.deleted {
  color: #6cb6ff;
}
.theme-dark .markdown-preview-view .token.boolean,
.theme-dark .markdown-preview-view .token.number {
  color: #c8e1ff;
}
.theme-dark .markdown-preview-view .token.selector,
.theme-dark .markdown-preview-view .token.attr-name,
.theme-dark .markdown-preview-view .token.string,
.theme-dark .markdown-preview-view .token.char,
.theme-dark .markdown-preview-view .token.builtin,
.theme-dark .markdown-preview-view .token.inserted {
  color: #96d0ff;
}
.theme-dark .markdown-preview-view .token.operator,
.theme-dark .markdown-preview-view .token.entity,
.theme-dark .markdown-preview-view .token.url,
.theme-dark .markdown-preview-view .language-css .token.string,
.theme-dark .markdown-preview-view .style .token.string,
.theme-dark .markdown-preview-view .token.variable {
  color: #6cb6ff;
}
.theme-dark .markdown-preview-view .token.atrule,
.theme-dark .markdown-preview-view .token.attr-value,
.theme-dark .markdown-preview-view .token.function,
.theme-dark .markdown-preview-view .token.class-name {
  color: #dcbdfb;
}
.theme-dark .markdown-preview-view .token.keyword {
  color: #f47067;
}
.theme-dark .markdown-preview-view .token.regex,
.theme-dark .markdown-preview-view .token.important {
  color: #96d0ff;
}









.theme-light .markdown-preview-view .mermaid .actor {
  fill: #f7f7f7 !important;
}

.theme-dark .markdown-preview-view .mermaid .actor {
  fill: #292d33 !important;
}

.theme-dark .markdown-preview-view .mermaid .note {
  fill: #645c10 !important;
}



.theme-dark {
  --preview-selection-background: hsl(212, 15%, 32%);
}

.theme-light {
  --preview-selection-background: #b4d9fd;
}

.markdown-preview-view *::selection {
  background: var(--preview-selection-background);
}
